html,
body {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
}

*,
:after,
:before {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

.zTetromino {
	background-image: url(../photo/yellow.png);
	background-size: contain;
}

.iTetromino {
	background-image: url(../photo/blue.png);
	background-size: contain;
}

.oTetromino {
	background-image: url(../photo/green.png);
	background-size: contain;
}

.tTetromino {
	background-image: url(../photo/pink.png);
	background-size: contain;
}

.lTetromino {
	background-image: url(../photo/orange.png);
	background-size: contain;
}

.color-red {
	color: #f00;
}

section h1,
.statistic h4,
h3,
.dial h1,
h2 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 1.5em;
}

#opponent {
	margin-bottom: 20px;
}

#result {
	margin-top: 20px;
	margin-bottom: 10px;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	cursor: pointer;
	transition: opacity 0.2s;
  }
  
  .Cheat-box:hover .cover {
	opacity: 0;
  }
  